
.main_btm_filter_container{
    padding-top: 20px;
}
.main_btm_filter_sub-container {
    background: #fff;
    padding: 26px 24px 24px;
    border-radius: 24px;
    margin: 0px 7px 0 7px;
    overflow: hidden;

}
.main_btm_filter2{
    margin-top: 34px;
}
.main_btm_filter_head{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.main_btm_filter_heading {
    display: flex;
    margin-bottom: 18px;

    
}
.main_btm_filter_head h1 {
    margin-bottom: 0;
    font-size: 18px;
    color: #101010;
    font-weight: 700;
    letter-spacing: -.41px;
    line-height: 24px;
}



.main_btm_filter_header_lang {
    display: flex;

}

.btm_filter_header_lang {
    padding-left: 0;
    margin-right: 16px;
    margin-left: 0;
}

.btm_filter_header_lang a {
    text-decoration: none;
    position: relative;
    padding: 10px 16px;
    display: block;
    box-sizing: border-box;
    color: inherit;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: 14px;
    color: #101010;
    font-weight: 500;
    letter-spacing: -.08px;
    line-height: 20px;
    border: 1px solid hsla(0, 0%, 6%, .13);
    border-radius: 96px;
}