.carousel-section {
  padding: 20px 0;
}

.carousel-container {
  position: relative;
  left: -50%;
  width: 200vw;
}

.carousel-section .slick-slide {
  padding: 0 10px;
}

.carousel-section .slick-prev,
.carousel-section .slick-next {
  height: fit-content;
  width: fit-content;
}

.carousel-section .slick-slider .slick-prev {
  left: 30%;
  z-index: 1;
}

.carousel-section .slick-next {
  right: 30%;
}

.carousel-section .slick-prev::before,
.carousel-section .slick-next::before {
  font-size: 40px;
  color: white;
}

.carousel-img {
  border-radius: 20px;
}

@media (max-width: 991px) {
  .carousel-section {
    padding: 10px 0;
  }
  
  .carousel-container {
    width: 100vw;
    left: 0;
  }

  .carousel-img {
    border-radius: 10px;
    aspect-ratio: 4/2;
    max-height: 200px;
  }

  .carousel-section .slick-prev,
  .carousel-section .slick-next {
    display: none !important;
  }
}