header {
  height: 92px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,41,112,.1);
}

.nav-right {
  align-items: center;
  gap: 20px;
}

.c-nav-bar {
  width: 90%;
}

.brand-logo {
  height: 54px;
  width: 108px;
}

.c-navlink {
  font-size: 1.2rem !important;
  border-radius: 5px;
}

.c-navlink:hover {
  background-color: #E0F0FF;
}

.c-login-btn {
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #00baf2;
  border: none;
  border-radius: 19px;
  position: relative;
  padding-left: 20px;
  padding-right: 42px;
}

.profile-icon {
  height: 36px;
  width: 36px;
  display: grid;
  place-content: center;
  background-color: #002970;
  position: absolute;
  right: 1px;
  overflow: hidden;
  padding-top: 10px;
}

.c-login-btn:hover, 
.c-login-btn:disabled {
  background-color: #002970;
}

.c-login-btn:hover .profile-icon,
.c-login-btn:disabled .profile-icon{
  background-color: #00baf2;
}

.sml-line {
  height: 27px;
  width: 1px;
  background-color: black;
}

.store-btn {
  height: 44px;
  width: 44px;
}

/* Movies Modal styels */

.modal-open {
  overflow-y: auto !important; /* Prevents modal from playing with the scrollbar */
  padding-right: 0 !important;
}

.c-modal .modal-content {
  border-radius: 20px;
  max-height: 520px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 100px;
}

.custom-backdrop { /* Hides the dark background behind modals */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-grid {
  display: grid;
  grid-template-columns: 46% 46%;
  justify-content: start;
  column-gap: 4%;
  max-height: 400px;
  overflow-y: scroll;
}

.movies {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.movies p {
  margin: 5px;
}

.movie-label,
.cinemas {
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
} 

.cinemas-grid p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.cinemas-grid p,
.cinemas {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: auto;
}

/* Login Page */

.c-login-modal .modal-content {
  border-radius: 20px;
}

#login-close-btn {
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
}

.user-input {
  height: 55px;
  border: 1px solid darkgray;
  border-radius: 8px;
}

.get-otp-btn {
  height: 55px;
  font-size: 1.2rem;
  font-weight: bold !important;
  width: 100%;
  border-radius: 8px;
}

#c-btn-link {
  text-decoration: none;
}

#c-btn-link:hover {
  text-decoration: underline;
}

#popover {
  width: 300px;
  border-radius: 14px;
  margin-top: 30px;
}

#popover .popover-arrow {
  display: none;
}

.popover-body ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin: 0;
}

.pop-btn {
  font-weight: 600;
  text-align: left;
  background-color: transparent;
  width: 100%;
  padding: 0;
  border: none;
  margin: 0;
}

.nav-mobile {
  display: none !important;
}

@media (max-width: 991px) {
  .modal-grid {
    display: block;
    padding-right: 2%;
  }

  header {
    height: auto;
  }

  .c-nav-bar {
    width: 100%;
    padding: 0 20px !important;
  }

  .brand-logo {
    height: 40px;
    width: 80px;
  }

  .c-nav-left,
  .nav-right {
    display: none !important;
  }

  .nav-mobile {
    display: flex !important;
    margin-right: 0;
    margin-left: auto;
  }

  .nav-mobile-search,
  .nav-mobile-location {
    color: black !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}