@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding-top: 90px;
}

summary {
  list-style-type: none;
}

.summary-list hr:last-child {
  display: none;
}

.contactUs-items a {
  text-decoration: none;
  margin-left: 10px;
}

.contactUs-items p {
  margin: 0;
}
