.mobile_navbar {
  display: none;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  bottom: 0px;
  z-index: 1;
  box-shadow: 0 -5px 20px rgba(0,41,112,.15);
}

.mobile_navbar > a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(30, 50, 139);
  text-decoration: none;
}



@media (max-width: 991px) {
  .mobile_navbar {
    display: flex;
  }
}