#searchbar .toggle_grp {
    background-color: #e7f1f8;
    border-radius: 8px;
}

#searchbar .toggle_btn {
    font-size: 12px;
    font-weight: normal;
    color: black;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    margin: 2px;
}

.search_input {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    color: rgb(160, 160, 160);
    border: none;
}

.search_input:focus {
    outline: none;
}

#location-pin_container {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#location-pin_container:hover {
    cursor: pointer;
}

.c-movie_cinema_btn {
    font-size: 16px !important;
    border: none !important;
}

.c-movie_cinema_btn:hover {
    border: none;
}