.MainCard {
  background: #fff;
  border-radius: 24px;
}

.MainCard .slick-list {
  margin: 0 -10px;
}

.MainCard .slick-slide {
  padding: 0 10px;
}

.MainCard_top_header {
  display: flex;
  margin-bottom: 14px;
  justify-content: space-between;
  align-items: center;
}

.MainCard_top_header button {
  font-weight: 500;
  color: #00b8f5;
  padding: 0;
}

.upcomeig_card {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 6%, .13);
}

.card-top h6 {
  color: #101010;
  font-weight: 600;
  margin: 0;
}

.card-top > img {
  height: 100%;
  width: 100%;
}

.MainCard .slick-next {
  right: 40px;
}

.MainCard .slick-prev {
  left: calc(40px - 1.5rem);
  z-index: 1;
}

.MainCard .slick-prev:before,
.MainCard .slick-next::before {
  font-size: 3rem;
}

.card-bottom {
  margin-top: 4px;
}

.card-bottom span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-bottom span:nth-child(2) {
  color: hsla(0, 0%, 6%, .54);
}

.bot {
  padding: 16px 12px;
}

@media (max-width: 991px) {
  .MainCard {
    border-radius: 0;
  }
}